
.task-desc {
    width: 65%;
    height: 400px;
    padding: 35px 40px 195px;
    background-color: #fff;
    box-shadow: 5px 2px 7px 0 rgba(111, 107, 107, 0.5);
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.task-name-desc {
    width: 68%;
}

.task-name {
    font-family: ProximaNovaSemiBold, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0.4px;
    color: #4a4a4a;
}

.task-name-desc .date {
    font-family: ProximaNovaLight, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.08;
    color: #6d8193;
    margin: 5px 0 20px;
}

.task-description {
    font-size: 14px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-bottom: 50px;
}

.your-choice {
    font-family: ProximaNovaRegular, serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.your-choice span {
    margin-left: 15px;
    font-family: ProximaNovaSemiBold, serif;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0.4px;
    color: #2f3942;
}

.priority {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priority p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.task-desc .priority section.rating {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin-bottom: 30px;
}

.task-desc .priority section.rating figure {
    margin: 0;
}

.priority .rating figure {
    margin-top: 3px;
}

.task-desc .rating .active {
    background-color: #e54b00;
}

.priority section {
    background-color: #00a6ff;
}

p.change-vote {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #31c2cf;
    border-bottom: 2px solid #31c2cf;
    cursor: pointer;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
}

.answers {
    display: flex;
    flex-direction: column;
}

.voted {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.changing-vote p {
    width: 65%;
    font-family: ProximaNovaSemiBold, serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    margin-top: 18px;
}

.changing-vote input {
    margin-top: 15px;
}

.changing-vote p.change-vote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 35px;
    background-image: linear-gradient(to bottom, #546676, #2f3942);
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #fff;
    border-bottom: none;
    float: right;
    margin-right: 2.5%;
}

input[type="radio"].radio {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-color: #00a6ff;
    background: #fff;
    z-index: 0;
}

input[type="radio"].radio:after {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 17px;
    position: absolute;
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #00a6ff;
    content: '';
    color: #00a6ff;
    background: #fff;
}

input[type="radio"].radio:checked:after {
    background: #fff;
    content: '\2022';
    color: #00a6ff;
    font-size: 34px;
}

@media (max-width: 915px) {
    input[type="radio"].radio {
        margin: 0 10px;
    }

    .changing-vote p.change-vote {
        float: none;
        margin-right: 0;
    }

    .chose-your-variant {
        width: 100%;
        margin-left: 10px;
    }

    section.tasks-content article.task-desc {
        width: 94%;
        height: 200px;
        overflow-y: auto;
        padding: 15px;
        margin-top: -8px;
        border-radius: 0 0 6px 6px;
        position: absolute;
    }

    .task.active {
        margin-bottom: 240px; /*200px + 10px margin + 30px paddings*/
    }

    .task-wrapper {
        display: block;
    }
}

@media (max-width: 550px) {
    section.tasks-content article.task-desc {
        margin-top: -8px;
        height: 385px;
        width: 90%;
    }

    .task-wrapper {
        display: block;
    }

    .task.active {
        margin-bottom: 420px; /*430px + 10px margin + 30px paddings*/
    }

    .task-main .svg.radial-progress {
        display: none;
    }

    .search {
        padding: 27px 15px 20px;
    }

    .sort-tasks ul {
        min-width: 1px;
    }

    .sort-tasks section.second-drop-down {
        left: 172px;
    }

    .chose-your-variant {
        width: 100%;
        margin-left: 0;
    }

    .changing-vote p {
        width: 100%;
    }

    .changing-vote p.change-vote {
        margin: 10px auto;
    }

    .task-wrapper .priority {
        display: flex;
        position: absolute;
        left: 37%;
        top: 10px;
    }

    .task-wrapper .priority p, .task-desc .priority section.rating {
        display: none;
    }

    section.task-name-desc {
        width: 100%;
        margin-top: 141px;
    }

    .task-name-desc .date {
        text-align: center;
    }

    .voted {
        width: 100%;
    }

    .your-choice span {
        margin-left: 0;
    }
}

@media (max-width: 350px) {
    .task, .task.active {
        width: 99%;
    }
}
