.priority section.rating {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
}

.priority section.rating figure {
    margin-top: 12px;
    margin-bottom: 0;
}

.rating {
    display: flex;
    align-items: center;
}

.rating figure {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #c3c3c3;
    margin-right: 12px;
    margin-bottom: 12px;
}